@font-face {
  font-family: 'OpenSans-Regular';
  src: local('OpenSans-Regular'), url(../../fonts/OpenSans-Regular.ttf);
}

.sensor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: 'OpenSans-Regular';
  font-weight: 600;
  font-size: calc(5px + 1.4vw);

  border-radius: 50%;
  border: solid;
  border-width: 2px;
  
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));

  transform: scale(2.25);
}

.working-sensor{
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #009ddc;
}

.sensor span{
  transform: scale(calc(1/2.25));
}

.faulty-sensor {
  background-color: rgba(241, 194, 194, 0.5);
  color: #c12d3f;
  border-color: #c12d3f;
}

.faulty-sensor > span {
  font-size: calc(10px + 3vw);
}