.widget {
  background-color: #ffffff;
  border-radius: 25%;
  margin: 20px;
  min-height: 150px;
  min-width: 150px;
  max-height: 250px;
  max-width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.widget .value {
  font-size: 60px;
  height: 70px;
  color: #009ddc;
  margin-bottom: 5%;
  margin-top: 25%;
}
.widget .description {
  margin-bottom: 20%;
  font-size: 24px;
}
