.sensor-measurement{
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: -0.9rem;
    margin-left: 0.5rem;
    /* color: #009DDC; */
    /* -webkit-text-stroke: 1px white;  */
}

 /* size of the sensor */
.sensor{
    transform: scale(1.25);
}

.map-temperature {
    background-color: rgba(255,255,255,0.7);
    -webkit-text-stroke: 1px rgb(43, 43, 43);
    color: #009DDC;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
